/*404 pagina*/
/*.foutpagina {
    /*background-image: url("../css/images/404.gif");*/
/*
    background-repeat: no-repeat;
    max-width: 100%;
    min-width: 200px;
    height: 431px;
    width: 1140px;
}*/
