/* Body */
body {
	background: #f7e7bf;
	font-family: "Josefin Sans";
	font-style: normal;
	font-weight: 400;

}

/*
* Helpers
*/
.clearfix::before, .clearfix::after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; 
}
.clearfix::after {
	clear: both; 
}

/*
* Offcanvas
*/
.offcanvas {
	position: absolute;
	z-index: 999;
	left: 0;
	top: 0;
	max-width: 320px;
	width: 70%;
	min-height: 100%;
	left: -100%;
	background: rgba(245,245,245 ,1);
	transition: all 320ms ease-out 0s;
}

.offcanvas-open .offcanvas {
	left: 0;
	transition: all 320ms ease-out 0s;

}
#offcanvas__header {
	position:relative;
	height: 50px;
	width: 100%;
	
	background-color: #8ec9d6;
	background-size: cover;
	border-right: solid 10px;

}
#offcanvas__header > h1 {
	position: absolute;
	margin: 0;
	bottom: 1rem;
	left: 1rem;
	
	font-size: 2rem;
	color: rgba(245,245,245 ,1);
}
#offcanvas__navigation-toggle {
	position: absolute;
	top: 0.5rem;
	left: 0.5rem;
	
	text-decoration: none;
	color: rgb(225, 112, 26);
}
#offcanvas__navigation-toggle > span {
	display: none;
}
#offcanvas__navigation-toggle::before {
	display: block;
	content: '\f00d';
	
	font-family: FontAwesome;
	font-size: 2rem;
	
	transition: all 320ms ease-out 0s;
}
#offcanvas__navigation > ul {
	list-style: none;
	
	margin: 0;
	padding: 0;
}
#offcanvas__navigation > ul > li {
	width: 100%;
}
#offcanvas__navigation .navigation__item {
	display: block;
	height: 117px;
	line-height: 110px;
	padding-left: 1rem;
	padding-right: 1rem;
	
	background: rgba(26,41,44, 1);
	border-bottom: 1px solid rgba(245,245,245 ,1);
	
	text-decoration: none;
	color: rgba(245,245,245 ,1);
	font-weight: 500;
	font-size: 19px;
	text-transform: uppercase;
}
#offcanvas__navigation .navigation__item .fa {
	margin-right: 1rem;
	width: 2rem;
	text-align: center;
}
#offcanvas__navigation > ul > li:last-of-type .navigation__item {
	border-bottom: none;
}
.fa{
	font-size: 40px;
}

/*
* Header
*/
#header-wrapper {

	-webkit-box-shadow: 0px -1px 16px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px -1px 16px 0px rgba(0,0,0,0.75);
	box-shadow: 0px -1px 16px 0px rgba(0,0,0,0.75);

	height:	50px;

}
.groen_menu{
	background: #79b939;
}
.blauw_menu{
	background: #8ec9d6;
}
.oranje_menu{
	background: #e1701a;
}
#header-wrapper > div > div > div {
	margin-bottom: 0;
}
#header::before, #header::after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; 
}
#header::after {
	clear: both; 
}
#header__logo {
	float: left;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}
#header__logo > h1 {
	margin: 0;
	padding: 0;
}

#header__logo > h1 > a > span {
	display: none;
}
#header__logo > h2 {
	display: none;
}
#header__navigation-toggle {
	float:left;
	margin-top: 0.5rem;
	
	text-decoration: none;

}
.klein_blauw{
	color: rgba(0,157,220, 1);
}
.klein_beige{
	color: #f7e7bf;
}
#header__navigation-toggle::before {
	display: block;
	content: '\f0c9';
	
	font-family: FontAwesome;
	font-size: 2rem;
	
	transition: all 320ms ease-out 0s;
}
.offcanvas-open #header__navigation-toggle::before,
.headernav-open #header__navigation-toggle::before {
	transform: rotate(90deg);
	transition: all 320ms ease-out 0s;
}
#header__navigation-toggle > span {
	display: none;
}
#header__navigation {
	float: right;
	width: 100%;
	display: none;	
}
.headernav-open #header__navigation {
	display: block;
}
#header__navigation > ul {
	list-style: none;
	
	margin: 0;
	padding: 0;
}
#header__navigation > ul > li {
	float: left;
	width: 100%;
}
#header__navigation .navigation__item {
	display: block;
	height: 32px;
	line-height: 32px;
	padding-left: 1rem;
	padding-right: 1rem;
	
	/*background: #e1701a;*/
	
	text-decoration: none;
	color: rgba(250,250,250, 1);
	font-weight: 700;
	font-size: 61px;
}
#header__navigation li:nth-of-type(2) .navigation__item {
	/*background: #8ec9d6;*/
}
#header__navigation li:nth-of-type(3) .navigation__item:hover {
	text-decoration: underline;
}
#header__navigation li:nth-of-type(2) .navigation__item:hover {
	text-decoration: underline;
}
#header__navigation li:nth-of-type(1) .navigation__item:hover {
	text-decoration: underline;
}
#header__navigation li:nth-of-type(4) .navigation__item {
	background: rgba(224,58,62, 1);
}
#header__navigation li:nth-of-type(5) .navigation__item {
	background: rgba(150,61,151, 1);
}
#header__logo > h1 > a {
	display: none;
}
#header p{
	margin: 0 auto;
	text-align: center;
	margin-top: 13px;
	color: white;
	font-style: oblique;
	font-size: 17px;


}
@media (min-width: 30rem) {

	#header__navigation {
		width: 100%;
	}
	#header__navigation > ul > li {
		width: 50%;
	}
	#header__navigation > ul > li:last-of-type {
		width: 100%;
	}
	#header__navigation .navigation__item {
		height: 64px;
		line-height: 64px;
		
		text-align: center;
	}
	#header p{
		font-size: 125%;

	}

}

@media (min-width: 52rem){
	#header__logo > h1 > a {
		display: block;
		width: 32.72727px;
		height: 36px;

		background: url('../images/logo.png') no-repeat top left;
		background-size: cover;
	}

	#header p{
		display: none;

	}
}

@media (min-width: 52rem) {
	#offcanvas {
		display: none;
	}
	#header__logo > h1 > a {
		width: 101.81818px;
		height: 112px;
	}
	#header__navigation-toggle {
		display: none;
	}
	#header__navigation {
		width: auto;
		display: block;
	}
	#header__navigation > ul > li {
		width: auto;
	}
	#header__navigation > ul > li:last-of-type {
		width: auto;
	}
	#header__navigation .navigation__item {
		height: 128px;
		line-height: 128px;
		
		text-align: left;
	}

}



/*
* Body hoofdafbeelding home
*/

.foto{
	display: none;
}


@media (min-width: 52rem) {
	.midden {
		text-align: center;
		margin:auto;
		font-weight: 600;
		font-size: 30px;
		width: 350px;
		float: left;
		margin-top:100px ;
		margin-left:100px ;
	}
	.foto {
		background-image: url("../images/homefoto.png");
		background-repeat: no-repeat;
		max-width: 100%;
		height: 431px;
		width: 1140px;
		min-width: 200px;
		display: block;
	}
	#header-wrapper {
		height: 128px;

	}
}

/*
* body keuzo op pagina home
*/
/*Dit is voor de mobile */

.centermenu{
	margin: 0 auto;
}
.oranje {

	background-color: #e1701a;
	height: 33%;
	min-height: 150px;

}

.oranje img{

	display: block;
	margin-left: auto;
	margin-top: 10%;
	margin-right: auto;
	width: 30%;
	height: auto;



}
.oranje p{
	float: left;
	font-size: 26px;
	text-align: center;
	color: white;
	width: 100%;

}
.blauw {

	background-color: #8ec9d6;
	height: 33%;
	min-height: 150px;

}
.blauw img{
	display: block;
	margin-left: auto;
	margin-top: 10%;
	margin-right: auto;
	width: 30%;
	height: auto;

}
.blauw p{
	float: left;
	font-size: 26px;
	text-align: center;
	color: white;
	width: 100%;

}
.groen {

	background-color: #79b939;
	height: 33%;
	min-height: 150px;

}

.groen img{
	display: block;
	margin-left: auto;
	margin-top: 10%;
	margin-right: auto;
	width: 20%;
	height: auto;

}
.groen p{
	float: left;
	font-size: 26px;
	text-align: center;
	color: white;
	width: 100%;

}
/*Dit is voor de tablet */

@media (min-width: 49rem) {

}

@media (min-width: 52rem) {
	/*.centermenu{
		margin: 0 auto;
		display: block;
		float: left;
		margin-left: auto;
	}

	.centermenu p{
		font-size: 96px;
		float: left;
		margin-top: 40px;
		margin-left: 80px;
		text-align: center;
	 }*/

	.centermenu img{
		width: 20%;
		height: auto;
		float: left;

		margin:10%;
	}
	.groen img{
		width: 15%;
		height: auto;
	}
	.centermenu p{
		font-size: 96px;
		position: absolute;
		top: 33%;
		left: 10%;
		float: left;
		margin-top: 40px;
		margin-left: 80px;
		text-align: center;

	}
	.centermenu p:hover{
		text-decoration: underline;
	}



}

/*
footer
*/

#footer-wrapper {
	-webkit-box-shadow: 0px -1px 16px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px -1px 16px 0px rgba(0,0,0,0.75);
	box-shadow: 0px -1px 16px 0px rgba(0,0,0,0.75);
}
#footer-wrapper > div > div > div {
	margin-bottom: 0;
}
#footer::before, #footer::after {
	content: "\0020";
	display: block;
	height: 0;
	overflow: hidden;
}
#footer::after {
	clear: both;
}

#footer__navigation-toggle {
	float:right;
	margin-top: 0.5rem;

	text-decoration: none;
	color: rgba(0,157,220, 1);
}
#footer__navigation-toggle::before {
	display: block;
	content: '\f0c9';

	font-family: 'Josefin';
	font-size: 2rem;

	transition: all 320ms ease-out 0s;
}

#footer__navigation-toggle > span {
	display: none;
}
#footer__navigation {
	float: left;
	width: 100%;
	display: none;
}
.footernav-open #footer__navigation {
	display: block;

}
#footer__navigation > ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#footer__navigation > ul > li {
	float: left;
	width: 100%;
}
#footer__navigation .navigation__item {
	display: block;
	height: 32px;
	line-height: 32px;
	padding-left: 1rem;
	padding-right: 1rem;
	float: left;
	text-decoration: none;
	color: white;
	font-weight: 100;
	font-size: 16px;
}
#footer__navigation a:hover{
	text-decoration: underline;
}


@media (min-width: 30rem) {
	#footer__logo > h1 > a {
		width: 78.81818px;
		height: 86px;
	}
	#footer__navigation {
		width: 100%;
	}
	#footer__navigation > ul > li {
		width: 50%;
	}
	#footer__navigation > ul > li:last-of-type {
		width: 100%;
	}
	#footer__navigation .navigation__item {
		height: 64px;
		line-height: 64px;

		text-align: center;
	}

}
@media (min-width: 52rem) {
	#offcanvas {
		display: none;
	}
	#footer__logo > h1 > a {
		width: 101.81818px;
		height: 112px;
	}
	#footer__navigation-toggle {
		display: none;
	}
	#footer__navigation {
		width: auto;
		display: block;
	}
	#footer__navigation > ul > li {
		width: auto;
	}
	#footer__navigation > ul > li:last-of-type {
		width: auto;
	}
	#footer__navigation .navigation__item {
		height: 128px;
		line-height: 128px;

		text-align: left;
	}

}

/*
organisatie
*/
#bg_man{
	background-color: #f7e7bf;
}
.choose{
	align-content: center;
	font-size: 2rem;
}

.organisatie_foto{
	background-image: url("../images/kinderen.png");
	background-repeat: no-repeat;
	max-width: 100%;
	height: 353px;
	width: auto;
	min-width: 200px;
	display: block;
	margin-bottom: -50px;
}



.organisatie{
	background-color: #79b939;
	margin-bottom: -20px;

}
.organisatie h1{
	float: left;
	color: white;
	padding-left: 20px;
	font-size: 24px;
}
.organisatie span{
	position: relative;
	font-size: 40px;
	margin-left: 310px;
	display: block;
	color: white;
}
.orgf1{
	width: 0px;
	height: auto;
}


@media (min-width: 27rem) {
	.organisatie {

		height: 79px;
	}


}

@media (min-width: 72rem) {
	.organisatie{

		height: 280px;
	}
	.organisatie h1{

		text-align: center;
	padding-left: 30px;
	}
	.orgf1{
		width: 261px;
		height: auto;
	}

}
/*
Detail organisatie
*/
.organisatie_klein{
	background-image: url("../images/AZG_klein.png");
	background-repeat: no-repeat;
	max-width: 100%;
	height: 220px;
	width: auto;
	min-width: 200px;
	display: block;
}
.naam_organisatie{
	overflow: hidden;
	background-color: #79b939;
	width: 400px;
	float: center;
	position: relative;
	top: -16px;
	left: -8px;
}
.naam_organisatie h1{
	text-align: center;
	color: #f7e7bf;
}


@media (min-width: 27rem) {
	.organisatie_klein{
		background-image: url("../images/AZG_groot.png");
		background-repeat: no-repeat;
		max-width: 100%;
		height: 431px;
		width: 1140px;
		min-width: 200px;
		display: block;
	}
	.naam_organisatie{
		width:98.5%;
		position: relative;
		top: -16px;
		left: 8px;
		padding-left: 0;
		padding-right: 0;
	}

}

/*Globe*/
.background_globe{
	background-color: #3b484f;
}

#map{
	height:300px;
}

#mapHeight{
	height:310px;
	margin-top:1%;
	margin-bottom:1%;
}
/* -------End MAP------ */

/* -----CONTINENTEN----- */
.continent {
	margin-top:10px;
	background-color:grey;
	width: 90%;
	height: 30px;
	margin-left:15px;
	margin:0 auto;
}

.continent p{
	color:#c8c8c8;
	line-height: 32px;
	margin-left:10px;
}

a.fill-continent {
	display: block;
	height: 30px;
	text-decoration: none;
}

.continent:nth-child(1){
	border-left:solid #eb7d7d 15px;
}
.continent:nth-child(2){
	border-left:solid #24a38b 15px;
}
.continent:nth-child(3){
	border-left:solid #b3d786 15px;
}
.continent:nth-child(4){
	border-left:solid #fddb77 15px;
}
.continent:nth-child(5){
	border-left:solid #6cc0eb 15px;
}
.continent:nth-child(6){
	border-left:solid #eaac5c 15px;
}

.continent img{
	height: 20px;
	float:right;
	margin-top:5px;
	margin-right:10px;
}

#continent_div {
	margin-bottom: 90px;
}

/*404*/

.foutpagina {
	background: url(../images/bg.png);
	overflow: hidden;
	position: fixed;
	top: 1;
	left: 0;
	/* Preserve aspet ratio */
	min-width: 100%;
	min-height: 100%;

}

.wrap {
	margin: 0 auto;
	width: 100%;
}

.vier {
	text-align: center;
}
.vier img {
	width: 320px;
	height: auto;
}
@media (min-width: 52rem) {
	.vier img {
		width: 600px;
		height: auto;
	}
}

.vier p span {
	color: lightgreen;
}

.sub a {
	color: white;
	background: rgba(0, 0, 0, 0.3);
	text-decoration: none;
	padding: 5px 10px;
	font-size: 13px;
	font-family: arial, serif;
	font-weight: bold;
}
.sub a:hover {

	font-size: 14px;

}

/*
about
*/

.title_about{
	padding-left: 40px;
	color: #ffffff;
	font-size: 50px;
}

#bg_foto{
	background:url(../images/background_about.png) no-repeat;
	background-size: cover;
	height:100%;
}

#feedback-page{
	text-align:center;
}

#form-main{
	width:100%;
	height:655px;
	float:left;
	padding-top:0px;
}

#form-div {
	background-color:rgba(72,72,72,0.4);
	padding-left:35px;
	padding-right:35px;
	padding-top:35px;
	padding-bottom:50px;
	width: 450px;
	float: left;
	left: 50%;
	position: absolute;
	margin-top:30px;
	margin-left: -227px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
}
#form-div2 {
	background-color:rgba(72,72,72,0.4);
	padding-left:35px;
	padding-right:35px;
	padding-top:35px;
	padding-bottom:50px;
	width: 450px;
	height: 518px;
	float: right;
	left: 50%;
	margin-top:30px;
	margin-right: 60px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
}
#form-div2 p{
	color: #ffffff;
	font-size: 20px;
}

.feedback-input {
	color:#3c3c3c;
	font-family: Helvetica, Arial, sans-serif;
	font-weight:500;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	background-color: #fbfbfb;
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	border: 3px solid rgba(0,0,0,0);
}

.feedback-input:focus{
	background: #fff;
	box-shadow: 0;
	border: 3px solid #3498db;
	color: #3498db;
	outline: none;
	padding: 13px 13px 13px 54px;
}

.focused{
	color:#30aed6;
	border:#30aed6 solid 3px;
}

/* Icons ---------------------------------- */
#name{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#name:focus{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 8px 5px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email{
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email:focus{
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#comment{
	background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

textarea {
	width: 100%;
	height: 150px;
	line-height: 150%;
	resize:vertical;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
	background-color:white;
}

#button-blue{
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	float:left;
	width: 100%;
	border: #fbfbfb solid 4px;
	cursor:pointer;
	background-color: #3498db;
	color:white;
	font-size:24px;
	padding-top:22px;
	padding-bottom:22px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	margin-top:-4px;
	font-weight:700;
}

#button-blue:hover{
	background-color: rgba(0,0,0,0);
	color: #0493bd;
}

.submit:hover {
	color: #3498db;
}

.ease {
	width: 0px;
	height: 74px;
	background-color: #fbfbfb;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
	transition: .3s ease;
}

.submit:hover .ease{
	width:100%;
	background-color:white;
}

@media(max-width: 32rem) {
	#form-div{
		left: 3%;
		margin-right: 3%;
		width: 88%;
		margin-left: 0;
		padding-left: 3%;
		padding-right: 3%;
	}
}
@media (max-width: 100rem) {
	#form-div2{
		float: left;
		left: 3%;
		margin-right: 3%;
		width: 88%;
		margin-left: 0;
		padding-left: 3%;
		padding-right: 3%;

	}
}






/*
Disclaimer
*/
.disclaimer_foto{
	display: none;
}
.Disclaimer{
	color: #000000;
}
.Disclaimer h1{
	font-size: 40px;
}
.Disclaimer h5{
	font-size: 20px;
}
.Disclaimer a{
	color: #000000;
	text-decoration: none;
}
.Disclaimer a:hover{
	text-decoration: underline;
}
@media (min-width: 32rem) {
	.disclaimer_foto {
		background-image: url("../images/Disclaimer.png");
		background-repeat: no-repeat;
		max-width: 100%;
		height: 353px;
		width: auto;
		min-width: 200px;
		display: block;
		margin-bottom: -50px;
	}
}



