body {
    background-color: #F7E7BF;
    color: #F7E7BF;
}

.org {
    background-color: #79b939;
    text-align: center;
    border: 5px solid #F7E7BF;
    border-radius:10px;
}

img {
    width: 100%;
}

.donate {

    background-image: url("../images/donate.svg");
    background-repeat: no-repeat;
    min-height: 88px;
}

.facebook {
    background-image: url("../images/facebook.svg");
    height:50px;
    background-repeat: no-repeat;
    margin-bottom: 30px;
    background-position: right;
}

.twitter {
    background-image: url("../images/twitter.svg");
    height:50px;
    background-repeat: no-repeat;
    margin-bottom: 30px;
    background-position: right;
}

.site {
    background-image: url("../images/site.svg");
    height:50px;
    background-repeat: no-repeat;
    background-position: right;
}

img {
    width: 0px;
    background-position: left;
}

h3 {
    height: 40px;

}

.fotos {
    background-image: url("../images/kinderen.png");
    width: 100%;
    min-height: 320px;
}

a {
    text-decoration: none;
    color: #F7E7BF;
}

.weg {
    display: none;
}

@media (min-width: 30rem) {
    .donate {
        min-height: 130px;
    }

}



@media (min-width: 42.5rem) {
    .donate {
        min-height: 189px;
    }
}

@media (min-width: 60rem) {
    .donate {
        min-height: 226px;
    }
}

@media (min-width: 71.25rem) {
    .donate {
        min-height: 227px;
    }
    img {
        width: 265px;
        max-height: 140px;
        min-height: 140px;
        height: auto;
        padding-right: 10px;
        padding-top:5px;

    }

    h3 {
        height: auto;
    }
}