body {
    background-color: #F7E7BF;
    color: #F7E7BF;
}

p {
    color: #79b939;
}

.org {
    background-color: #79b939;
    text-align: center;
    border: 1px solid #F7E7BF;
}

img {
    width: 100%;
}

.donate {

    background-image: url("../images/donate.svg");
    background-repeat: no-repeat;
    min-height: 88px;
}

.facebook {
    background-image: url("../images/facebook.svg");
    height:50px;
    background-repeat: no-repeat;
    margin-bottom: 30px;
    background-position: right;
}

.twitter {
    background-image: url("../images/twitter.svg");
    height:50px;
    background-repeat: no-repeat;
    margin-bottom: 30px;
    background-position: right;
}

.site {
    background-image: url("../images/site.svg");
    height:50px;
    background-repeat: no-repeat;
    background-position: right;
}

#test {
    color: #79b939;
}

@media (min-width: 30rem) {
    .donate {
        min-height: 130px;
    }

    .foto {
        min-width: 10px;
        width: 100%;
    }
}



@media (min-width: 42.5rem) {
    .donate {
        min-height: 189px;
    }
}

@media (min-width: 60rem) {
    .donate {
        min-height: 226px;
    }
}

@media (min-width: 71.25rem) {
    .donate {
        min-height: 227px;
    }
}