
ol{
    list-style-type: none;
}

form{
    margin-top:20px;

}

label {
    font-family: "Josefin Sans";

}




input[type="radio"] {
    display:none;
}
input[type="radio"] + label {
    color: black;
    font-size:14px;
}
input[type="radio"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    cursor:pointer;
}

input[type="radio"] + label span {
    background-color:black;
}

input[type="radio"]:checked + label span{
    background-color:green;
}

input[type="radio"] + label span,
input[type="radio"]:checked + label span {
    -webkit-transition:background-color 0.4s linear;
    -o-transition:background-color 0.4s linear;
    -moz-transition:background-color 0.4s linear;
    transition:background-color 0.4s linear;
}






